Repository dmno-dev/varlock, pull requests merged in 2025-08, with the labels that each got.

#107 mobile star us component, linting fixes from previous PR merge
  packages/env-graph/src/index.ts
  packages/varlock-website/src/components/MobileStarDialog.vue
  packages/varlock-website/src/components/StarArrow.vue
  packages/varlock-website/src/layouts/Layout.astro
  packages/varlock/src/cli/helpers/error-checks.ts
  packages/varlock/src/index.ts
Labels: maintainer

#110 [Changesets] Versioned release
  .changeset/brown-parks-repeat.md
  .changeset/cruel-animals-deny.md
  .changeset/mighty-hoops-move.md
  packages/env-spec-parser/CHANGELOG.md
  packages/env-spec-parser/package.json
  packages/integrations/astro/CHANGELOG.md
  packages/integrations/astro/package.json
  packages/integrations/nextjs/CHANGELOG.md
  packages/integrations/nextjs/package.json
  packages/integrations/vite/CHANGELOG.md
  packages/integrations/vite/package.json
  packages/varlock/CHANGELOG.md
  packages/varlock/package.json
Labels: maintainer, varlock, parser, nextjs-integration, vite-integration

#114 move to GHCR
  .changeset/pink-plants-do.md
  .github/workflows/binary-release.yaml
  README.md
  packages/utils/src/git-utils.ts
  packages/varlock-website/src/content/docs/guides/docker.mdx
  scripts/login-ghcr.sh
  scripts/publish-docker.sh
  scripts/test-docker.sh
Labels: maintainer, docs

#132 fixing vite edge cases
  .changeset/stupid-forks-wish.md
  example-monorepo/packages/vanilla-vite-example/.env
  example-monorepo/packages/vanilla-vite-example/.env.schema
  example-monorepo/packages/vanilla-vite-example/index.html
  example-monorepo/packages/vanilla-vite-example/src/main.ts
  example-monorepo/packages/vanilla-vite-example/src/style.css
  packages/integrations/vite/README.md
  packages/integrations/vite/src/index.ts
  packages/varlock-website/src/content/docs/env-spec/reference.mdx
  packages/varlock-website/src/content/docs/guides/schema.mdx
  packages/varlock/src/runtime/env.ts
Labels: maintainer, vite-integration

#133 [Changesets] Versioned release
  .changeset/stupid-forks-wish.md
  packages/integrations/astro/CHANGELOG.md
  packages/integrations/astro/package.json
  packages/integrations/nextjs/CHANGELOG.md
  packages/integrations/nextjs/package.json
  packages/integrations/vite/CHANGELOG.md
  packages/integrations/vite/package.json
  packages/varlock/CHANGELOG.md
  packages/varlock/package.json
Labels: maintainer, varlock, nextjs-integration, vite-integration
