Repository dmno-dev/varlock, pull requests merged in 2025-05, with the labels that each got.

#20 docs rework and updates, syntax highlighting for env-spec
  .cursor/rules/varlock.mdc
  packages/varlock-website/astro.config.mjs
  packages/varlock-website/src/content/docs/env-spec/overview.mdx
  packages/varlock-website/src/content/docs/getting-started/installation.mdx
  packages/varlock-website/src/content/docs/guides/cursor.mdx
  packages/varlock-website/src/content/docs/guides/integration.mdx
  packages/varlock-website/src/content/docs/guides/javascript-ecosystem.mdx
  packages/varlock-website/src/content/docs/guides/migration-from-dotenv.mdx
  packages/varlock-website/src/content/docs/guides/other-languages.mdx
  packages/varlock-website/src/content/docs/guides/schema.mdx
  packages/varlock-website/src/content/docs/guides/secrets.mdx
  packages/varlock-website/src/content/docs/guides/security.mdx
  packages/varlock-website/src/content/docs/reference/functions.mdx
  packages/varlock-website/src/content/docs/reference/item-decorators.mdx
  packages/varlock-website/src/pages/index.astro
  packages/varlock-website/src/styles/global.css
Labels: maintainer, docs

#18 curl installer
  packages/varlock/install.sh
  packages/varlock/src/cli/commands/doctor.command.ts
  packages/varlock/src/cli/helpers/install-detection.ts
  packages/varlock/src/globals.d.ts
  packages/varlock/tsup-sea.config.ts
  packages/varlock/tsup.config.ts
  scripts/update-homebrew-formula.js
Labels: maintainer, varlock

#21 add anon usage stats
  packages/varlock-website/astro.config.mjs
  packages/varlock-website/src/content/docs/guides/telemetry.mdx
  packages/varlock-website/src/content/docs/reference/cli-commands.mdx
  packages/varlock/install.sh
  packages/varlock/package.json
  packages/varlock/src/cli/cli-executable.ts
  packages/varlock/src/cli/commands/opt-out.command.ts
  packages/varlock/src/cli/helpers/analytics.ts
  pnpm-lock.yaml
  scripts/update-homebrew-formula.js
Labels: maintainer, docs, varlock

#23 cli login command
  packages/varlock/src/cli/cli-executable.ts
  packages/varlock/src/cli/commands/login.command.ts
  packages/varlock/src/cli/helpers/key-press.ts
  packages/varlock/src/cli/helpers/open-url.ts
  packages/varlock/src/config.ts
  pnpm-lock.yaml
Labels: maintainer

#22 [wip] readme updates
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  packages/env-spec-parser/README.md
  packages/varlock-website/src/pages/index.astro
  packages/varlock/README.md
Labels: documentation, do-not-merge, maintainer, docs, varlock, parser
